/*	===========================================================================
		Main Screen CSS for the Corporate Planning Application (CorpPlanApp)
		Header and footer are common for corporate applications
		By Gian Pompilio
	===========================================================================	*/

	/*
	@import url(http://fonts.googleapis.com/css?family=Roboto);
	@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
	*/

/*	===========================================================================
		HTML5 Tags
	===========================================================================	*/
	body {
		/*background:#ccc url('../images/bg.png') repeat fixed;*/
		background:#ccc;
	}

	a:hover, a:focus {
		color: #428bca;
	}

	label {
		font-weight: bold;
	}

/*	===========================================================================
		Structural Sections
	===========================================================================	*/
/*
	#sticky_footer {
		position: fixed;
		bottom:0px;
		bottom:5px;
		right:0px;
		margin: 0 auto;
		padding: 0;
		width: 100%;
	}

	#sticky_footer a {
		background: white;
		border: 0;
		border: 1px solid #b5bdc7;
		border-radius: 6px 6px 0 0;
		border-top-right-radius:6px;
		border-top-left-radius:6px;
		text-decoration: none;
		box-shadow: 0 0 1px rgba(0,0,0,0.2), 0 0 7px rgba(0,0,0,0.2);

		text-align: center;
		white-space: nowrap;
		cursor: pointer;
		padding: 10px 15px;

		font-weight: 700;
		color: #363d47;
	}
*/

	.icon-white {
		color:white;
	}

	.text-error{
		padding-left:5px;
	}

	.group_heading {
		color:white !important;
		text-decoration: none !important;
		cursor: pointer;
	}
	.group_heading > div {
		padding: 15px 17px !important;
		margin-bottom: 15px !important;
	}
	.group_heading > div > h1,
	.group_heading > div > h2 {
		margin-top: 0px;
		margin-bottom: 3px;
		font-size: 1.85em;
	}
	.group_heading > div > h2 {
		font-size: 1.75em;
	}
	.group_heading > div > p {
		font-size: 1.1em;
		margin-bottom: 0px !important;
	}
	


	.approximate_complete {
		font-size:1.5em; 
		margin:5px 0; 
		padding:0; 
		line-height:1em; 
		font-weight:bold;
	}

	.completion_label {
		font-size: 1em;
		padding: .3em .5em;
		/*margin-bottom: 10px !important;*/
		display: block;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 0px;
		text-align: left;
		border-right: 1px solid #ddd;
	}

	.label_text {
		padding-left:15px;
	}

	.progress_bg {
		background:#F2F2F2;
background: -moz-linear-gradient(left,  #dadada 0%, #f2f2f2 40%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#dadada), color-stop(40%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #dadada 0%,#f2f2f2 40%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #dadada 0%,#f2f2f2 40%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #dadada 0%,#f2f2f2 40%); /* IE10+ */
background: linear-gradient(to right,  #dadada 0%,#f2f2f2 40%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadada', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 */
		border-bottom: 1px solid #fff;
	}

	

/*	===========================================================================
		Main Header
	===========================================================================	*/
	#main_header h1 span, #main_header_login h1 span {
		font-weight:400;
		color: white;
	}
	#main_icon {
		padding: 1px 1px 1px 20px;
		float: left;
	}

	.logo {
		font-family: 'Open Sans', arial, sans-serif;
		font-size: 1.205em;
		font-weight:100;
		letter-spacing: -1px;
		line-height: 1em;
		color: white;
		padding: 0 0 0 10px;
		margin: 0;
	}


	.logo span {
		font-weight:500;
		color:#428BCA;
	}


	.logo-login {
		padding: 50px 0 10px;
		font-size: 1.7em;
		text-align: center;
	}

	.navbar-brand {
		padding-top:13px;
	}

	@media (max-width: 400px) {
		.navbar-brand {
			padding-top:5px;
		}
		.logo span {
			display: block;
		}
	}

	@media (max-width: 767px) {
		.navbar-collapse {
			margin-top:13px;
		}
	}


	#page {
		
	}

	.navbar-inner {
		padding:5px 0;
	}

.nav>li>a {
	padding: 16px 15px 0 0;
}

.form-signin {
  max-width: 330px;
  padding: 0px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  color: white;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  font-size: 15px;
  line-height:1em;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*	===========================================================================
		Side Nav
	===========================================================================	*/
	#side_nav {
		background: #222;
	}
		#side_nav ul {
			padding: 0;
			margin: 0;
			font-size: 1em;
		}
		#side_nav ul li {
			list-style: none;
		}
		#side_nav ul li:first-child {
			border-top: none;
		}
		/* FIRST LEVEL MENU ITEMS */
		#side_nav ul li a {
			line-height: 1.25em;
			padding:10px 10px;
			color: white;
			display: block;
			text-decoration: none;
			/*font-weight: bold;*/
			background: #222;
		}
		#side_nav ul li a:hover {
			/*background-color:#675C7C;*/
			background-color:#428BCA;
			color:white;
		}
		#side_nav ul ul {
			margin: 0;
			padding: 0;
			display: none;
		}
		#side_nav ul ul li {
			margin: 0;
			padding: 0;
			clear: both;
			border-top: 1px solid #bbb;
		}
		/* SECOND LEVEL MENU ITEMS */
		#side_nav ul ul li a {
			font-weight: normal;
		    outline:0;
		    color: black;
		    background: #aaa;
		}
		#side_nav ul ul li a:hover {
			/*background-color:#D3C99C;
			background-color:#675C7C;*/
			background-color:#428BCA;
			color:#675C7C;
			color: white;
		}
		/* THIRD LEVEL MENU ITEMS */
		#side_nav ul ul ul {
			border:1px solid #aaa;
		}
		#side_nav ul ul ul li {
			border-top: 1px solid #ddd;
		}
		#side_nav ul ul ul li a {
			background: #ccc;
		}
		#side_nav ul ul ul li a:hover {
			/*background-color:#D3CEB8;
			background-color:#675C7C;*/
			background-color:#428BCA;
			color:#675C7C;
			color: white;
		}
		#side_nav ul span{
			float:right;
		}

#filter_options {
	padding:75px 0 20px;
	margin-bottom: 25px;
	background: #bbb;
	border-bottom: 1px solid #aaa;
}

.filter_option {
	padding-bottom:5px;
}
.filter_buttons {
	/*border-top:1px dashed #fff;
	margin-top:10px;
	padding-top:15px;
	padding-bottom:25px;*/
}

.business_unit_dependency {
	display: none;
}


.deliverable {
	background: white;
}

.create_deliverable .row {
	margin-bottom: 10px;
}

.create_deliverable label,
.service_area_description {
	padding-top: 8px;
	display: block;
}

.service_area_selection {

}





/*	===========================================================================
		Result count and block entries (individual deliverable entries and update screens)
	===========================================================================	*/
	.results {
		margin: 0 0 15px;
		background: white;
		padding:10px 15px;
		font-weight:bold;
		/*border-radius: 5px;*/
	}
	/*.results p {
		padding-top:7px
	}*/

	.result_count {
		padding:7px 0 5px;
	}
	.result_count p {
		margin-bottom:0;
	}

	@media (max-width: 767px) {
		.result_count {
			text-align: center;
			padding:5px 0;
		}
	}


	.block {
		margin: 0 0 15px;
		background:white;
		/*border-radius: 5px;*/
		overflow: hidden;   /* Prevent overflow required to ensure status and details colums are full height. */
	}
	.block ul,
	.block ol {
		margin:6px 10px 3px 20px;
	}

	/* clear floats */
	.block:after,
	.results:after {
		content: ""; 
		clear: both; 
		display: block;
	}




	.text_block {
		font-size: 1em;
		line-height: 1.4em;
		padding: 14px 8px;
	}
	.text_block h1 {
		font-size: 1.5em;
		line-height: 1em;
		padding: 0 0;
		margin: 10px 0;
	}
	.text_block h1 i {
		margin:0.225em 0.1em 0em;
	}
	.text_block h2 {
		font-size: 1.2em;
		line-height: 1.5em;
		padding: 0;
		margin-top: 0;
		font-weight: bold;
	}
	.text_block p {
		line-height: 1.5em;
		margin-bottom: 8px;
	}

	.alert p {
		line-height: 1em;
		margin-bottom: 0;
	}





	.supporting_deliverables {
		background:#222;
		color:white;
		padding:20px 25px;
		padding-bottom:10px;
	}

	.supporting_deliverables ul  {
		margin: 6px 10px 10px 8px;
		padding-left:10px;
	}




	
	.details_col {
		background: white;
		padding-bottom: 500em; /* required to ensure height is 100% */
		margin-bottom: -500em; /* required to ensure height is 100% */
	}

	.status_update {
		padding: 15px;
		min-height: 175px;
	}
	.status_update span {
			display: block;
			font-weight: bold;
		}

	.percent_complete {
		font-size: 2em;
		padding: 10px 15px 7px;
	}

	.percent_complete span {
		line-height: 1em;
		padding-top: 5px;
	}

	.progress {
		height:10px;
	}
	.bar {
		overflow: visible;
		white-space: nowrap;
		padding-top: 1px;
		text-shadow: none !important;
		text-align: left !important;
	}

	.bar span {
		padding: 0px 8px;
		color:black;
	}

	.business_unit {
		padding: 13px 15px 2px;
	}
		.business_unit span {
			display: block;
			font-weight: bold;
		}	
	.focus_area {
		padding: 5px 15px;
	}
		.focus_area span {
			display: block;
			font-weight: bold;
		}





.btn:visited {
	color:#000;
}

.btn-info,
.btn-danger {
	color: white !important;
}



.no_border_bottom {
	border:0;
}

.border_left {
	border-left:1px dashed #bbb;
}



@media (max-width: 995px) {

	#page {
		padding-top:0px;
		padding-bottom:50px;
	}


}

@media (max-width: 767px) {

	.navbar-fixed-top,
	.navbar-fixed-bottom,
	.navbar-static-top {
		margin-left: 0px;
		margin-right: 0px;
	}

	#side_nav
	{
		margin-bottom: 20px;

	}

	.container {
		margin:10px;
	}

	.navbar-inner .container {
		margin:0px;
	}

	.details_col {
		border-left:0px dashed #bbb;
	}
	
	.border_left {
		border-left:0px dashed #bbb;
	}

	.border_bottom_mobile {
		border-bottom:1px dashed #bbb;
	}


	

	.no_deliverables_found {
		text-align: center;
		font-weight: bold;
		padding:20px 0 10px;
	}



}
