/*	===========================================================================
		Main nav#main navigation Drop Down Menu
		By Gian Pompilio
	===========================================================================	*/
	body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
		margin: 0; padding: 0; border: 0;
	}
	
	.drop_down_menu {
		/*font-family: 'Roboto Condensed', sans-serif;*/
		float:left;
		padding:3px 0 0;
		font-size:1.1em;
		
		/* margin: 100px auto; 
		text-align: center; */
	}
	

	.drop_down_menu ul {
		position:relative;
		list-style:none;
		float:left;
		z-index:1000;
		margin:0;
		
		/* background: #efefef; 
		background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
		background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
		background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
		box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
		padding: 0 20px;
		border-radius: 10px;  
		list-style: none;
		position: relative;
		display: inline-table; */
	}
		.drop_down_menu ul:after {
			content: ""; 
			clear: both; 
			display: block;
		}

		.drop_down_menu ul li {
			position:relative;
			float:left;
			margin:0;

			/* float: left; */
		}
			/* nav#main ul li:hover {
				background: #4b545f;
				background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
				background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
				background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
			} */
			
			/* MAIN FIRST LEVEL MENU ITEMS */
			.drop_down_menu ul li a {
				display:block;
				/*padding:9px 13px;*/
				padding:8px 13px;
				color:white;
				text-decoration:none;

				/* display: block; 
				padding: 25px 40px;
				color: #757575; 
				text-decoration: none; */
			}
			
			.drop_down_menu ul li:hover a {
				color:white;
				background:#000;
				border-radius:5px;
				border-radius:0;
	
				/* color: #fff; */
			}
			
			.drop_down_menu ul li:hover > ul {
				display: block;
				top:2.5em;  /* added */
			}
			
			.drop_down_menu ul li:hover > ul a {
				/* color:white;
				background:#222; */
				border-radius:0;
				background:#333;
				margin-bottom: 1px;
				/* color: #fff; */
			}

			
	.drop_down_menu ul ul {
		font-size:0.9em;
		background:#000;
		padding:8px;
		border-radius:5px;
		/* position:absolute;
		left:-9999px;
		list-style:none;
		z-index:10000; */
		
		position:absolute; /* from old */
		display: none;  /* from new */
		
	}	
	
		.drop_down_menu ul ul li {
			float: none;
			
			/* float: none;
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #575f6a; position: relative; */
		}
		
			/* SECOND LEVEL MENU ITEMS */
			.drop_down_menu ul ul li a {
				/*padding:5px 8px;*/
				padding:6px 10px;
				white-space:nowrap;
	
				/* padding: 15px 40px;
				color: #fff; */
			}	
			
				
				/* drop down menu active state if a second level flyout menu is present */
				.drop_down_menu ul ul li:hover > a {
					background: #444;
					background: #555;
				}
				
				/* drop down menu item - hover state */
				.drop_down_menu ul ul li a:hover {
					background: #666;
					background:#c00;
				}
		
		.drop_down_menu ul ul ul {
			position: absolute; 
			left: 100%; 
			top:-8px !important;
			font-size:1em;
		}