/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  color:#222;
  color:rgba(0,0,0,0.9);
}

a {
	color:#000088;
	color:rgba(0,0,136,1);
	text-decoration:none;
}
a:visited {
	color:#274ABA;
	color:rgba(39,74,186,1);
}
a:hover,
a:active,
a:focus {
	color:#bb0000;
	color:rgba(187,0,0,1);
	text-decoration:underline;
}


/****** ENHANCEMENT
	a,
	a:visited {
		color:#3655db;
		color:rgba(54,85,219,1);
		text-decoration:none;
	}
	a:hover,
	a:active,
	a:focus {
		color:#bb0000;
		color:rgba(187,0,0,1);
		text-decoration:underline;
	}
******/

	
pre,
code {
  font-family: 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
  font-size: 30px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}


/************
Added by Gian
*************/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin:10px auto;
}

th {
	font-weight:bold;
}